/* General Styles */
body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     transition: background-color 0.3s, color 0.3s;
}

header {
     background-color: rgb(153 102 153);
     color: white;
     padding: 20px 0;
     text-align: center;
}

nav ul {
     list-style-type: none;
     padding: 0;
}

nav ul li {
     display: inline;
     margin: 0 15px;
}

nav ul li a {
     color: white;
     text-decoration: none;
}

.hero {
     margin-top: 20px;
}

/* Projects Section */
#projects {
     background-color: #b2fcf4;
     padding: 40px 20px;
     text-align: center;
}

#projects h2 {
     margin-bottom: 20px;
}

.projects-grid {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}

.project-item {
     background-color: #fff;
     padding: 15px;
     margin: 10px;
     width: 200px;
     text-align: center;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.project-item h3 {
     margin-top: 0;
}

.project-item a {
     display: block;
     margin-top: 10px;
     color: #333;
     text-decoration: none;
}

/* .filter-btn {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}
 */
/* /* /* Experience Section */
/* #experience {
    padding: 40px 20px;
}

#experience h2 {
    text-align: center;
    margin-bottom: 20px;
}

#experience ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

#experience li {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
#experience h3 {
    margin-top: 0;
} 
 */
/* Education Section */
#education {
     background-color: #b2fcf4;
     padding: 40px 20px;
}

#education h2 {
     text-align: center;
     margin-bottom: 20px;
}

#education ul {
     list-style-type: none;
     padding: 0;
     max-width: 800px;
     margin: 0 auto;
}

#education li {
     background-color: #fff;
     padding: 20px;
     margin: 10px 0;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#education h3 {
     margin-top: 0;
}

#languages {
     background-color: #b2fcf4;
     padding: 40px 20px;
}

#languages h2 {
     text-align: center;
     margin-bottom: 20px;
}



#languages ul {
     list-style-type: none;
     padding: 0;
     max-width: 800px;
     margin: 0 auto;
}

#languages li {
     background-color: #fff;
     padding: 20px;
     margin: 10px 0;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Contact Section */
#contact {
     padding: 40px 20px;
     text-align: center;
     background-color: #b2fcf4;
}

#contact h2 {
     margin-bottom: 20px;
}

#contactForm {
     max-width: 600px;
     margin: 0 auto;
     background-color: #fff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contactForm label {
     display: block;
     margin: 10px 0 5px;
     text-align: left;
}

#contactForm input,
#contactForm textarea {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
}

#contactForm button {
     background-color: #6ef39c;
     color: white;
     padding: 10px 15px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

#formFeedback {
     color: green;
     margin-top: 20px;
     font-weight: bold;
}

/* Footer */
footer {
     background-color: #333;
     color: white;
     text-align: center;
     padding: 10px 0;
}

footer .social-media a {
     color: white;
     margin: 0 10px;
     text-decoration: none;
}

/* Dark Mode Styles */
.dark-mode {
     background-color: #16325B;
     color: #e0e0e0;
}

.project-item.dark-mode {
     background-color: #333;
}

.filter-btn.dark-mode {
     background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
     .projects-grid {
          flex-direction: column;
          align-items: center;
     }

     #experience ul,
     #education ul {
          padding: 0 20px;
     }
}